@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
body {
  font-family: "ヒラギノ明朝 ProN", serif;
  color: #333;
  font-size: 16px;
  line-height: 1.6875;
}

img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.main {
  padding-top: 70px;
}
@media screen and (max-width: 767px) {
  .main {
    padding-top: 60px;
  }
}

section {
  margin-top: 160px;
}
@media screen and (max-width: 767px) {
  section {
    margin-top: 96px;
  }
}

.section__title {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  position: relative;
  padding-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .section__title {
    font-size: 30px;
  }
}
.section__title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background: #3EA1D1;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.util-link {
  color: #3EA1D1;
  width: 157px;
  padding: 14px 54px;
  font-size: 14px;
  border: 1px solid #3EA1D1;
  font-weight: bold;
  background: white;
  -webkit-transition: color 0.4s, background-color 0.4s;
  transition: color 0.4s, background-color 0.4s;
}
.util-link.-active {
  color: white;
  background: #3EA1D1;
}
.util-link:not(.-submit):hover {
  color: white;
  background: #3EA1D1;
}

.header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}
@media screen and (max-width: 767px) {
  .header__inner {
    height: 60px;
  }
}

.header__logo {
  margin-right: auto;
  width: 120px;
}

@media screen and (max-width: 767px) {
  .header__nav {
    top: 60px;
    background: #3EA1D1;
    padding: 24px 0;
  }
}

@media screen and (min-width: 768px) {
  .drawer-menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .drawer-menu-item:not(:first-child) {
    margin-left: 46px;
  }
}

.drawer-menu-item-link {
  color: #333;
  display: block;
  height: 70px;
  line-height: 70px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .drawer-menu-item-link {
    color: white;
    font-size: 18px;
    text-align: right;
    height: 60px;
    line-height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .drawer-menu-item-link {
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
  }
  .drawer-menu-item-link:hover {
    color: #3EA1D1;
  }
}

.drawer-hamburger-icon {
  background-color: #3EA1D1;
}
.drawer-hamburger-icon::before, .drawer-hamburger-icon::after {
  background-color: #3EA1D1;
}

.drawer-hamburger .drawer--right {
  right: 3px;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 3px;
}

.top {
  position: relative;
}

@media screen and (min-width: 768px) {
  .top__img {
    padding-top: 55%;
    background: url(../img/top@2x.png) top right/82.5% no-repeat;
  }
}
@media screen and (max-width: 767px) {
  .top__img {
    padding-top: 120%;
    background: url(../img/sp/top.png.png) center center/cover;
  }
}

@media screen and (min-width: 768px) {
  .top__content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    background: white;
    padding: 82px 44px 90px 40px;
  }
}
@media screen and (max-width: 767px) {
  .top__content {
    margin-top: 31px;
  }
}

.top__content-title {
  font-size: 26px;
  height: 1.6923076923;
  font-weight: bold;
}

.top__content-text {
  font-size: 16px;
  height: 1.6875;
}

.concept__inner {
  margin-top: 46px;
}
@media screen and (min-width: 768px) {
  .concept__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 64px;
  }
}

@media screen and (min-width: 768px) {
  .concept__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.concept__content {
  margin-top: 36px;
}
@media screen and (min-width: 768px) {
  .concept__content {
    margin-left: 6.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.concept__content-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.7;
}

.concept__content-text {
  margin-top: 36px;
  font-size: 16px;
  line-height: 1.6875;
}
@media screen and (max-width: 767px) {
  .concept__content-text {
    margin-top: 20px;
  }
}

.feature__inner {
  margin-top: 64px;
}
@media screen and (max-width: 767px) {
  .feature__inner {
    margin-top: 48px;
    max-width: 340px;
  }
}

@media screen and (min-width: 768px) {
  .feature__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.feature__card {
  display: block;
  -webkit-box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.1607843137);
          box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.1607843137);
  background: white;
}
@media screen and (min-width: 768px) {
  .feature__card {
    width: 28.3333333333;
  }
}
@media screen and (max-width: 767px) {
  .feature__card + .feature__card {
    margin-top: 48px;
  }
}

.feature__card-link {
  color: inherit;
}
@media screen and (min-width: 768px) {
  .feature__card-link:hover .feature__card-img > img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.feature__card-img img {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .feature__card-img img {
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
}

.feature__card-body {
  text-align: center;
  padding: 26px;
  line-height: 1.6875;
  font-weight: bold;
}

.about {
  margin-top: 160px;
  color: white;
  position: relative;
}
@media screen and (min-width: 768px) {
  .about {
    background: url(../img/bg@2x.png) center center/cover;
  }
}
@media screen and (max-width: 767px) {
  .about {
    background: url(../img/sp/bg.png.png) center center/cover;
  }
}
.about::before {
  position: absolute;
  display: block;
  content: "";
  background: rgb(0, 0, 0);
  opacity: 0.12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .about__inner {
    padding-top: 182px;
    padding-bottom: 55px;
  }
}

.about__title {
  font-size: 22px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .about__title {
    font-size: 20px;
  }
}

.about__lead {
  font-size: inherit;
  font-weight: bold;
  margin-top: 28px;
}
@media screen and (max-width: 767px) {
  .about__lead {
    font-size: 14px;
    margin-top: 22px;
  }
}

.products {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .products {
    max-width: 260px;
  }
}

@media screen and (min-width: 768px) {
  .products__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .products__card {
    width: 27.6595744681%;
  }
}
@media screen and (max-width: 767px) {
  .products__card + .products__card {
    margin-top: 48px;
  }
}

@media screen and (min-width: 768px) {
  .products__card-link:hover .products__card-img > img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.products__card-img {
  overflow: hidden;
}
.products__card-img img {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.products__card-body {
  color: #333;
  margin-top: 22px;
}

.products__card-price {
  margin-top: 10px;
  color: rgb(152, 152, 152);
}

.products__footer {
  text-align: center;
  margin-top: 44px;
}

.news__inner {
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .news__inner {
    margin-top: 48px;
  }
}

.news__items {
  max-width: 1040px;
  margin: 0 auto;
}

.news__item {
  border-bottom: 1px solid rgb(224, 224, 224);
}

.news__item-link {
  color: inherit;
  padding-bottom: 24px;
  margin-top: 22px;
  display: block;
}
@media screen and (min-width: 768px) {
  .news__item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news__item-link:hover .news__item-img img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.news__item-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
  overflow: hidden;
}
.news__item-img img {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

@media screen and (max-width: 767px) {
  .news__item-body {
    margin-top: 21px;
  }
}
@media screen and (min-width: 768px) {
  .news__item-body {
    margin-left: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.news__item-date {
  font-size: 14px;
}

.news__item-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
}
@media screen and (max-width: 767px) {
  .news__item-title {
    font-size: 16px;
  }
}

.news__item-subtitle {
  font-size: 14px;
  margin-top: 16px;
  color: rgb(136, 136, 136);
  line-height: 1.7142857143;
}

.news__footer {
  margin-top: 48px;
  text-align: center;
}

.concept2__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 160px;
}
@media screen and (min-width: 768px) {
  .concept2__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (max-width: 767px) {
  .concept2__body {
    margin-top: 40px;
  }
}

.concept2__title {
  font-size: 28px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .concept2__title {
    font-size: 20px;
  }
}

.concept2__text {
  margin-top: 36px;
  line-height: 1.7142857143;
}
@media screen and (max-width: 767px) {
  .concept2__text {
    font-size: 14px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 768px) {
  .concept2__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin-left: 80px;
  }
}

.contact {
  background: url(../img/contact@2x.png) center center/cover;
  margin-top: 225px;
  padding: 72px 40px 85px;
}
.contact input[type=text],
.contact input[type=email],
.contact textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: 0.2em 0.5em;
  border-radius: 2px;
  -webkit-box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.1607843137);
          box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.1607843137);
}
.contact input[type=text],
.contact input[type=email] {
  height: 40px;
}
.contact textarea {
  min-height: 122px;
  resize: vertical;
}

.contact__title {
  color: #3EA1D1;
}

.contact__inner {
  margin-top: 54px;
}

.contact__text {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
}

.contact__text-inline,
.contact__item-inline {
  color: #E7728E;
}

.contact__text-inline {
  font-size: 16px;
}

.contact__item-inline {
  font-size: 12px;
  vertical-align: super;
  line-height: 1;
}

.contact__items {
  margin: 18px auto 0;
  max-width: 510px;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__item + .contact__item {
  margin-top: 32px;
}

.contact__item-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  background: #3EA1D1;
  color: white;
  opacity: 0.7;
  text-align: center;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  position: relative;
  padding-left: 10px;
}
.contact__item-title::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  right: -8px;
  display: block;
  top: 0;
  vertical-align: top;
  border-style: solid;
  border-width: 19.5px 0 19.5px 8px;
  border-color: transparent transparent transparent #3EA1D1;
}

.contact__item-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  margin-left: 18px;
}

.contact__radio-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: white;
  border: 1px solid white;
  -webkit-box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.1607843137);
          box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.1607843137);
}

.contact__radio {
  position: relative;
}

.contact__radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.contact__radio-input:checked + .contact__radio-part {
  color: white;
  background: #3EA1D1;
  border-radius: 1px;
}
.contact__radio-input:focus + .contact__radio-part {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact__radio-part {
  display: block;
  font-size: 16px;
  color: #3EA1D1;
  background: white;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
}

.contact__privacy {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}

.contact__privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.contact__privacy-input:checked + .contact__privacy-part {
  border-top: 0;
  border-left: 0;
  width: 10px;
  background: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -5px;
  left: 5px;
}
.contact__privacy-input:focus + .contact__privacy-part {
  outline: -webkit-focus-ring-color auto 1px;
}
.contact__privacy-input:checked:focus + .contact__privacy-part {
  outline: none;
}

.contact__privacy-part {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: white;
  border: 1px solid #3EA1D1;
  position: absolute;
  top: 0;
  left: 0;
}

.contact__footer {
  text-align: center;
  margin-top: 20px;
}

.contact__privacy-link {
  font-size: 16px;
  color: #3EA1D1;
  text-decoration: underline;
}

.contact__footer-submit {
  margin-top: 46px;
}

.footer {
  padding-top: 48px;
  padding-bottom: 17px;
  background: rgb(247, 247, 247);
  text-align: center;
}

.footer__logo {
  width: 120px;
  margin: 0 auto;
}

.footer__nav-items {
  margin-top: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__nav-item {
  font-size: 12px;
  display: block;
}
.footer__nav-item:not(:first-child) {
  margin-top: 12px;
}

.footer__nav-item-link {
  color: #333;
}
@media screen and (min-width: 768px) {
  .footer__nav-item-link {
    padding: 0.3em 0;
  }
  .footer__nav-item-link:hover {
    opacity: 0.7;
  }
  .footer__nav-item-link:not(:first-child) {
    margin-left: 32px;
  }
}

.footer__sns-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
}
@media screen and (max-width: 767px) {
  .footer__sns-items {
    margin-top: 18px;
  }
}

.footer__sns-item {
  width: 22px;
  height: 22px;
}
.footer__sns-item:not(:first-child) {
  margin-left: 32px;
}

.footer__sns-item-link {
  color: #3EA1D1;
}
.footer__sns-item-link:hover {
  opacity: 0.7;
}

.footer__copyright {
  color: rgb(136, 136, 136);
  margin-top: 18px;
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-top: 10px;
  }
}